img {
  margin: 0 10px !important;
  height: 50px;
}

.navbar-container {
  height: 70px;
  background-image: linear-gradient(to right, #FF5252 , #616161);

  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-weight: 700;
  font-size: 40px;
}
